@tailwind base;

/* Write your own custom base styles here */
/* ... */

/* Start purging... */
@tailwind components;
/* Stop purging. */

a.btn {
  @apply block text-center;
}

.btn {
  @apply px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 disabled:opacity-50;
  @apply bg-gray-200;
}

.btn-accent-1 {
  @apply text-white bg-accent-1-500 hover:bg-accent-1-600 focus:ring-accent-1-500;
}

.btn-accent-2 {
  @apply text-white bg-accent-2-500 hover:bg-accent-2-600 focus:ring-accent-2-500;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

html, body, #__next {
  height: 100%;
}

body,
.body-font {
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Staatliches', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
}

.text-link {
  @apply underline text-blue-900;
}